########## REF Links for git stuff ##########
#
# So you think you know git talk 1 https://www.youtube.com/watch?v=aolI_Rz0ZqY
# So you think you know git talk 2 https://www.youtube.com/watch?v=Md44rcw13k4
# switch and restore commands https://speakerdeck.com/schacon/so-you-think-you-know-git-part-2?slide=20
# fixup and autosquash rebase https://speakerdeck.com/schacon/so-you-think-you-know-git-part-2?slide=70
# rebasing stacks https://speakerdeck.com/schacon/so-you-think-you-know-git-part-2?slide=84
#
#############################################

#This is Git's per-user configuration file.
[user]
	name = GMkonan
	email = guilhemont@hotmail.com

[alias]
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	# Stash untracked files too (new files)
	staash = stash --all
	# https://speakerdeck.com/schacon/so-you-think-you-know-git?slide=49
	rblame = blame -w -C -C -C
	wdiff = diff --word-diff
	cbranch = branch --column
	# ! indicates it will run a shell command not a git command, so we can source and then use a function inside githelpers
	l = "!. ~/.githelpers && pretty_git_log"
[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix
[init]
	defaultBranch = main
# diff-so-fancy config
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	compression = 0
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	postBuffer = 157286400
[rerere]
	enabled = true
	autoupdate = true
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/konan/code/work/zapper-dashboard
[rebase]
	# Useful for stack based workflow (like at work or e.g. graphite workflow)
	# TLDR update pointers from dependent branches when you rebase tip of stack
	# check the ref links at the top of the file for more info
	updateRefs = true
	autoSquash = true
	autoStash = true
[column]
	ui = auto
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[merge]
	conflictstyle = zdiff3
